// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Microsemi Corporation
 */

#include "jaguar2.dtsi"

/ {
	model = "Jaguar2 Cu8-Sfp16 PCB110 Reference Board";
	compatible = "mscc,jr2-pcb110", "mscc,jr2";

	aliases {
		spi0 = &spi0;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&uart0 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&spi0 {
	status = "okay";
	spi-flash@0 {
		label = "spi_flash";
		compatible = "macronix,mx25l25635f", "jedec,spi-nor";
		spi-max-frequency = <18000000>; /* input clock */
		reg = <0>; /* CS0 */
	};
	// synce module
	spi@1 {
		compatible = "mchp,synce_dpll";
		reg = <0x1>; /* CS1 */
		pinctrl-0 = <&synce_pins>;
		pinctrl-names = "default";
		spi-max-frequency = <8000000>;
	};
	// CPLD for Synce CPLD
	spi@d {
		compatible = "mchp,synce_builtin";
		reg = <0xd>; /* CS13 */
		pinctrl-0 = <&synce_builtin_pins>;
		pinctrl-names = "default";
		spi-max-frequency = <8000000>;
	};
};

&gpio {
	synce_pins: synce-pins {
		// GPIO 16 == SI_nCS1
		pins = "GPIO_16";
		function = "si";
	};
	synce_builtin_pins: synce-builtin-pins {
		// GPIO 49 == SI_nCS13
		pins = "GPIO_49";
		function = "si";
	};
};

&pi_nand {
	status = "okay";
	chip-delay = <100>; // MX30LF1GE8AB with internal ECC has 45-70 us tR_ECC
	waitcc = <8>;       // Slow down NAND CS via waitcc - appx 77ns
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		/* 256MiB */
		partition@0 {
			    label = "rootfs_data";
			    reg = <0x0000000 0x08000000>;
		};
	};
};

&i2c0 {
	status = "okay";
	i2c-sda-hold-time-ns = <300>;
};

&uio0 {
	status = "okay";
};

&fdma {
	status = "okay";
};

&ifmux {
	status = "okay";
};
