// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2018 Microsemi Corporation
  */

/dts-v1/;
#include "fireant-soc.dtsi"

/ {
	model = "FireAnt PCB135 Reference Board";
	compatible = "mscc,fireant-pcb135", "mscc,fireant";

	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x00000000 0x10000000>;
	};
};

&uart0 {
        status = "okay";
};

&gpio {
	cs14_pins: cs14-pins {
		pins = "GPIO_44";
		function = "si";
	};
};

&spi0 {
	status = "okay";
	pinctrl-0 = <&si2_pins>;
	pinctrl-names = "default";
	interface-mapping-mask = <0x4000>;	// NAND CS14 = SPI2
	spi-flash@0 {
		compatible = "mx66l1g45g", "jedec,spi-nor";
		spi-max-frequency = <8000000>; /* input clock */
		reg = <0>; /* CS0 */
	};
	/* Dedicated SPI2 interface */
        spi-flash@14 {
		compatible = "spinand,mt29f";
		pinctrl-0 = <&cs14_pins>;
		pinctrl-names = "default";
		spi-max-frequency = <28000000>;
		reg = <14>; /* CS14 */
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			/* 256MiB */
			partition@0 {
				label = "rootfs_data";
				reg = <0x0000000 0x10000000>;
			};
		};
	};
};

&i2c0 {
	status = "okay";
};

&ifh1 {
	status = "okay";
};

&ifmux {
	status = "okay";
};

&uio0 {
	status = "okay";
};
