// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2018 Microsemi Corporation
  */

/dts-v1/;
#include "fireant-soc.dtsi"

/ {
	model = "FireAnt PCB125 Reference Board";
	compatible = "mscc,fireant-pcb125", "mscc,fireant";

};

&uart0 {
        status = "okay";
};

&spi0 {
	status = "okay";
	spi-flash@0 {
		compatible = "mx66l1g45g", "jedec,spi-nor", "spi-flash";
		spi-max-frequency = <8000000>; /* input clock */
		reg = <0>; /* CS0 */
	};
        spi-flash@1 {
		compatible = "spinand,mt29f";
		pinctrl-0 = <&cs1_pins>;
		pinctrl-names = "default";
		spi-max-frequency = <12000000>;
		reg = <1>; /* CS1 */
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			/* 128MiB */
			partition@0 {
				label = "rootfs_data";
				reg = <0x0000000 0x8000000>;
			};
		};
	};
};

&sgpio0 {
	status = "okay";
	mscc,sgpio-ports = <0x00FFFFFF>;
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};
