// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2018 Microsemi Corporation
 */

/dts-v1/;
#include "fireant_pcb_common.dtsi"

/{
	aliases {
	    i2c0   = &i2c0;
	    i2c152 = &i2c152;
	    i2c153 = &i2c153;
	    i2c154 = &i2c154;
	    i2c155 = &i2c155;
	};
};

&gpio {
	cpld_pins: cpld-pins {
		// CS1
		pins = "GPIO_16";
		function = "si";
	};
	synce_pins: synce-pins {
		// CS2
		pins = "GPIO_17";
		function = "si";
	};
	synce_builtin_pins: synce-builtin-pins {
		// CS3
		pins = "GPIO_18";
		function = "si";
	};
	i2cmux_pins_i: i2cmux-pins-i {
               pins = "GPIO_35", "GPIO_36",
                      "GPIO_50", "GPIO_51";
		function = "twi_scl_m";
		output-low;
	};
	i2cmux_s29: i2cmux-0 {
		pins = "GPIO_35";
		function = "twi_scl_m";
		output-high;
	};
	i2cmux_s30: i2cmux-1 {
		pins = "GPIO_36";
		function = "twi_scl_m";
		output-high;
	};
	i2cmux_s31: i2cmux-2 {
		pins = "GPIO_50";
		function = "twi_scl_m";
		output-high;
	};
	i2cmux_s32: i2cmux-3 {
		pins = "GPIO_51";
		function = "twi_scl_m";
		output-high;
	};
};

&spi0 {
	status = "okay";
	spi-flash@0 {
		compatible = "mx66l1g45g", "jedec,spi-nor";
		spi-max-frequency = <8000000>;
		reg = <0>;
	};
	// cpld
	spi@1 {
		compatible = "mchp,cpld";
		reg = <1>;
		pinctrl-0 = <&cpld_pins>;
		pinctrl-names = "default";
		spi-max-frequency = <8000000>;
	};
	// synce module
	spi@2 {
		compatible = "mchp,synce_dpll";
		reg = <2>;
		pinctrl-0 = <&synce_pins>;
		pinctrl-names = "default";
		spi-max-frequency = <8000000>;
	};
	// redwood onboard ptp dpll
	spi@3 {
		compatible = "mchp,synce_builtin";
		reg = <3>;
		pinctrl-0 = <&synce_builtin_pins>;
		pinctrl-names = "default";
		spi-max-frequency = <8000000>;
	};
};

&axi {
	i2c0_imux: i2c0-imux@0 {
		compatible = "i2c-mux-pinctrl";
		#address-cells = <1>;
		#size-cells = <0>;
		i2c-parent = <&i2c0>;
	};
};

&i2c0_imux {
	pinctrl-names =
		"i2c152", "i2c153", "i2c154", "i2c155",
		"idle";
	pinctrl-0 = <&i2cmux_s29>;
	pinctrl-1 = <&i2cmux_s30>;
	pinctrl-2 = <&i2cmux_s31>;
	pinctrl-3 = <&i2cmux_s32>;
	pinctrl-4 = <&i2cmux_pins_i>;
	i2c152: i2c_sfp1 {
		reg = <0x0>;
		#address-cells = <1>;
		#size-cells = <0>;
	};
	i2c153: i2c_sfp2 {
		reg = <0x1>;
		#address-cells = <1>;
		#size-cells = <0>;
	};
	i2c154: i2c_sfp3 {
		reg = <0x2>;
		#address-cells = <1>;
		#size-cells = <0>;
	};
	i2c155: i2c_sfp4 {
		reg = <0x3>;
		#address-cells = <1>;
		#size-cells = <0>;
	};
};
